---
layout: default
---
<section class="nonhero" style="background-image: url(https://source.unsplash.com/OgvqXGL7XO4/2000x1322?a=.png)">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<div class="search">
				{{ content }}
			</div>
		</div>
	</div>
</section>
<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">

		</div>
	</div>
</section>